[2020-04-05 09:06] TheYkk opened #1 "Depency manager doesn't exist"
- Depency manager doesn't exist
- Dockerfile doesn't exist
- Package imports doesn't work

[2020-04-05 09:07] TheYkk commented on #1
I can fix them

[2020-04-05 09:59] yakuter commented on #1
That should be great. The job is all yours!

[2020-04-05 17:45] TheYkk commented on #1
Closed: #2

[2020-04-05 17:45] #1 closed

[2020-04-06 08:23] yakuter opened #3 "Add export as csv for logins"
User should export all logins as csv file.

**Endpoint:** /logins/export
**Method:** POST

Example csv file:
[code]

[2020-04-06 11:07] batuberksahin commented on #3
I want to work on this 👍

[2020-04-06 11:08] yakuter commented on #3
Great!

[2020-04-06 11:23] murat opened #4 "Missing docker-compose for postgres & mysql"
It would be nice if there is a docker-compose.yml for start gpass by one line command simply.

[2020-04-06 11:27] murat opened #5 "Postgresql and login.Password type"
`login.Password` is a `string` in the struct, but[ `encrypt` func generating the binary data](https://github.com/yakuter/gpass/blob/master/controller/helper/helper-controller.go#L88) for store in the `login.Password`, if you use postgresql (maybe mysql too) it throwing the `invalid byte sequence error` ([here](https://github.com/yakuter/gpass/blob/master/controller/login/create-controller.go#L27))

[2020-04-06 13:32] TheYkk commented on #5
I am working on this issue

[2020-04-06 14:16] yakuter commented on #5
@murat thank you for your feedback. @TheYkk thanks for working on this. I assigned you with this.

[2020-04-06 14:17] yakuter commented on #4
Thank you. I will check as soon as possible.

[2020-04-06 14:19] yakuter opened #8 "Import needs to be tested manually"
I just finished import ability. I tested it locally and it works fine. However some other tests should be great.

Also I am not sure if I explained well how to import in readme. Can you anyone check it out?

![gpass import](https://www.yakuter.com/wp-content/yuklemeler/gpass-import.png "Import Form and Request Example")

[2020-04-06 14:33] #4 closed

[2020-04-06 14:40] TheYkk opened #9 "Postman requests files for import"
Can you share Postman requests files for import local development?

[2020-04-06 14:49] yakuter commented on #9
There is this link at README:

https://documenter.getpostman.com/view/3658426/SzYbyHXj?version=latest

I think you can grap it from there.

[2020-04-06 14:50] TheYkk commented on #9
I can't import my postman

[2020-04-06 14:54] TheYkk commented on #5
Fixed : #7

[2020-04-06 15:11] yakuter commented on #9
Here you are:

https://www.yakuter.com/wp-content/yuklemeler/gpass_postman_collection.json_.zip

I also added this link to README

[2020-04-06 15:12] TheYkk commented on #9
Thank you

[2020-04-06 15:12] #9 closed

[2020-04-06 15:20] yakuter commented on #5
I tested this. Works great. Thanks a lot

[2020-04-06 15:20] #5 closed

[2020-04-07 01:59] furkanbegen commented on #8
I tested both locally and within docker but I'm getting an error like below

My Specs for local test
OS: MacOs Catalina
Go Version: 1.14

![gpass-import-error](https://user-images.githubusercontent.com/6476136/78621664-cf2f6b00-788b-11ea-969b-824d1cff707f.png)

Example csv
`url,username,password,extra,name,grouping,fav`
`http://www.dummy.net/,dummyUname,dummyPass,,dummy.net,,0`
`https://dummy.com.

[2020-04-07 07:22] yakuter opened #10 "Let's find a new name for gpass"
When I starting this project, this was just a weekend project. However, now I think it should have a future.

Today, I searched internet and found gpass.io, which is also a password manager. I think we should better find a new name.

Any suggestions?

[2020-04-07 09:20] ionutale commented on #10
I like small names

How about “vault”

Sent from my iPhone

[2020-04-07 11:40] yakuter commented on #10
Unfortunately Hashicorp has a project with vault.

https://www.vaultproject.io/

[2020-04-07 14:09] yakuter commented on #8
I now fixed import problems. Can you test it now. By the way, according to your dummy csv file, the form values should be like this:

URL:url
Username:username
Password:password

[2020-04-07 18:53] furkanbegen commented on #8
I tested again and it works fine.

[2020-04-07 19:34] safakkizkin commented on #8
I tested (two times) with same .csv file. It creates same object two times, in my opinion there should be a control.
![image](https://user-images.githubusercontent.com/22755582/78711525-c5574780-791f-11ea-9dda-00795626cade.png)

[2020-04-07 19:37] furkanbegen commented on #8
@safakkizkin you can multiple accounts for same website(login) so behavior is correct in my opinion

[2020-04-07 19:51] safakkizkin commented on #8
@furkanbegen you are right about the multiple accounts. But what i want to say is, for same username and same URL, no need to create a new entry, changing the present one may the better.

[2020-04-07 19:59] yakuter commented on #8
Well thanks for testing.

About multiple accounts, we must be flexible. However I think we shoul at least  check for if url, username and password is same at the same time. @safakkizkin It would be nice if you can handle this.

[2020-04-07 20:09] safakkizkin commented on #8
Okay then, I will arrange a solution as you said @yakuter.

[2020-04-07 21:38] batuberksahin commented on #3
#12

[2020-04-07 21:57] yakuter commented on #3
Thank you @batuberksahin, I know your concerns about hard coded field names. This can be a technical debt because we don't know where this project go for now. Thanks again.

[2020-04-07 21:57] #3 closed

[2020-04-07 23:51] yakuter commented on #8
Now there is same record control thanks to @safakkizkin

[2020-04-07 23:51] #8 closed

[2020-04-08 05:08] ionutale commented on #8
Hi,
i think the control for duplicate entries should be made at database level using an index.

[2020-04-08 05:48] ionutale opened #14 "some features"
Hi,
i created an account on gpass.io to see how is made.
i think has some very nice features:

###Types
you can create types with predefined fields. This allows for multiple type of credentials.
<img width="584" alt="Schermata 2020-04-08 alle 07 00 36" src="https://user-images.githubusercontent.com/2562455/78746805-1f7bfb00-7968-11ea-99af-cef89e5c8eec.png">

###Folders
you can group credentials in

[2020-04-08 07:23] yakuter commented on #8
Hi, when I first saw the code, I thought the same. I even tried to refactor. However our encryption method keeps password different. As you see in the pictures, the same passwords have different hashes in database.
<img width="459" alt="Screen Shot 2020-04-08 at 09 54 36" src="https://user-images.githubusercontent.com/3696314/78755814-78f12380-7982-11ea-9079-fedf0a96d5f0.png">
![Screen Shot 2020-0

[2020-04-08 07:31] yakuter commented on #14
This is nice you to open this subject. I am not sure if we want to add lots of features which are not really used in project. I am using 1Password for a long time. It has favorites, categories etc. and all the categories has their own fields like credit cards etc.
![Screen Shot 2020-04-08 at 10 24 30](https://user-images.githubusercontent.com/3696314/78756426-73480d80-7983-11ea-82d8-e57be8909002.p

[2020-04-08 12:21] yakuter commented on #14
I am adding a screenshot from bitwarden. Isn't it too much and complicated?
![Screen Shot 2020-04-08 at 15 20 53](https://user-images.githubusercontent.com/3696314/78783638-a5219a00-79ac-11ea-8f60-b4ea200dcc62.png)

[2020-04-08 19:49] yakuter opened #19 "Delete login"
Delete login is missing at frontend

[2020-04-08 19:50] yakuter opened #20 "Update login"
Update login is missing at frontend

[2020-04-08 19:50] yakuter opened #21 "Search login"
Search login is missing at frontend

[2020-04-08 19:51] yakuter opened #22 "Export logins"
Export logins is missing at frontend

[2020-04-08 19:51] yakuter opened #23 "Import logins"
Import logins is missing at frontend

[2020-04-09 09:15] yakuter opened #24 "Passwords need to be hidden"
Passwords need to be hidden on table. There should be an show/hide button.

[2020-04-09 10:54] yakuter opened #25 "Chrome extension needed to auto fill"
The important part of this app is the ability to auto fill user login forms on websites. We need this chrome extension.

[2020-04-10 06:50] yakuter commented on #25
I started working on it ([commit link](https://github.com/yakuter/gpass/commit/a6f71ca76e7a7e6f444a32ac61c544380a749113)) but of course all help is welcome.

[2020-04-10 20:17] yakuter commented on #24
Thanks @ademilter

[2020-04-10 20:17] #24 closed

[2020-04-10 20:17] yakuter commented on #21
Thanks @ademilter great!

[2020-04-10 20:17] #21 closed

[2020-04-11 09:06] yakuter commented on #14
I made my decision on this subject. I started this project to have the simpliest password manager ever. So there won't be so much features. The design is as in the picture.
![Screen Shot 2020-04-11 at 12 03 38](https://user-images.githubusercontent.com/3696314/79039858-dee0e380-7bec-11ea-92a0-baf98791b7fd.png)

[2020-04-11 09:06] #14 closed

[2020-04-12 17:07] yakuter commented on #25
This repo is seperated. So closing it now.

[2020-04-12 17:07] #25 closed

[2020-04-12 17:08] yakuter commented on #10
PassWall is the name I’ve chosen.

[2020-04-12 17:08] #10 closed

[2020-04-14 14:33] yakuter commented on #19
Added to passwall-web

[2020-04-14 14:33] #19 closed

[2020-04-15 05:57] yakuter commented on #23
Moved to passwall-web

[2020-04-15 05:57] #23 closed

[2020-04-15 05:58] yakuter commented on #22
Moved to passwall-web

[2020-04-15 05:58] #22 closed

[2020-04-15 05:58] yakuter commented on #20
Moved to passwall-web

[2020-04-15 05:58] #20 closed

[2020-04-15 08:04] yakuter opened #29 "How to backup?"
API needs a backup plan. Any ideas? For SQL lite file, it can be stored (icloud, google folder etc.) anywhere but what about Postgres and MySQL databases? I think there can be a cron job which gets the backup of dataabse table.

[2020-04-15 08:46] yakuter opened #30 "Run as a service on Homebrew"
To make it easier to install passwall-api, homebrew installation as a service is needed.

[2020-04-15 13:52] yakuter opened #31 "Deploy on heroku"
Users should be able to deploy on heroku easily

[2020-04-15 13:52] yakuter opened #32 "Docker image"
Users should be able to pull from docker easily

[2020-04-15 22:06] mehmetka commented on #32
Hi,
I created an organization called passwall and pushed image to docker hub.

You can pull:
$ docker pull passwall/passwall-api

[2020-04-15 22:26] yakuter commented on #32
Great news. I will try it. Do you mind making me member at that organization. I would like to update image time to time.

[2020-04-15 22:34] mehmetka commented on #32
Done, I added.

[2020-04-15 22:39] yakuter commented on #32
I just tested it. It is works great! Thank you so much.

[2020-04-15 22:39] #32 closed

[2020-04-17 13:49] aeosmanoglu opened #35 "Upper/Lowercase keys on json body"
Your json returns have different keys. For example when we post a generate password request it returns:

[code]

or

[code]

So you create two different key `Message` and `message`. Please, can you review your code and standardize your keys? It's hard to parse json data.

[2020-04-17 14:05] aeosmanoglu opened #36 "Url parse"
if put/post body like that when we create/update a login

[code]

it response like that

[code]

Can you fix it?

[2020-04-17 17:27] yakuter commented on #36
Hello, I fixed this. You can pull updated repo or do your tests on Heroku demo site:

https://passwall-api-demo.herokuapp.com/
<img width="641" alt="Screen Shot 2020-04-17 at 20 25 55" src="https://user-images.githubusercontent.com/3696314/79596737-c6d7fb00-80e9-11ea-9fb1-54a73490772d.png">

[2020-04-17 17:27] #36 closed

[2020-04-17 17:28] yakuter commented on #35
Well only auth jsons are different then api's responses because of the external package I use. I will work on this to make them same.

[2020-04-18 23:28] safakkizkin opened #37 "Heroku Demo-Server is down"
The given demo-server link is currently down. (Excuse me, if it's never been up.)

![image](https://user-images.githubusercontent.com/22755582/79673746-2961f180-81e5-11ea-9702-f250946fb6d7.png)

[2020-04-19 01:12] oktaysenkan opened #38 "Demo username and password is incorrect"
This credentials is incorrect, returning error message like this.

![image](https://user-images.githubusercontent.com/42527467/79676910-9d0afb00-81f3-11ea-9d5d-714dfe259585.png)

[2020-04-19 06:21] yakuter commented on #37
It was in sleep mode. I awakened it now. You can check it. Thank you :)

[2020-04-19 06:21] #37 closed

[2020-04-19 06:22] yakuter commented on #38
Sorry, heroku was in sleep mode. Can you test it again?

[2020-04-19 06:22] #38 closed

[2020-04-19 06:23] yakuter commented on #31
Done!

[2020-04-19 06:23] #31 closed

[2020-04-19 06:46] yakuter opened #39 "Endpoint tests need SQL mock with Gorm"
In main_test.go file, there are some tests. However those test should be written with SQL mock using Gorm DB model.

[2020-04-19 07:14] yakuter opened #40 "XSS security middleware is needed."
All requests must be checked and cleaned by a middleware. Maybe gin contrib's secure middleware is suitable for this job.

[2020-04-19 10:10] yakuter opened #41 "Alert on same password usage"
User should be warned when using same password on login create or update.

[2020-04-19 10:57] murat commented on #29
Maybe a cron would be nice to create database dumps and sync with a drive.
Also, there would be an option to import/export from/to another password managers.

[2020-04-19 17:30] anonrig opened #43 "Important Security issues"
Hey there!

First of all congrats on the project. Even though this was a security focused project, I've had some issues with the codebase which I couldn't just do nothing about it. So, sorry about that :)

### Rate limiting
This seems to be a serious problem, since any person who has access to the login page, can brute force passwords.
##### Possible solution
  - To use Redis and keep track of ip

[2020-04-20 11:22] yakuter opened #44 "Import for KDB and KDBX files."
For now import only works for CSV files. It should support KDB and KDBX files too. While doing this, the import endpoint and functions should be seperated from logins API.

[2020-04-20 23:00] yakuter commented on #29
Cron job to a folder, drive etc. is a good idea. I was thinking the same. However I just added a simple Backup and Restore features. They have endpoints (/logins/backup, /logins/restore). They basically exports all logins to an encrypted file in ./store folder and restores from it.

Well there is already import/export. You can see in the API documentation.

[2020-04-22 00:09] yakuter commented on #43
Thank you for great analysis. I am fixing all issues one by one. For now:
- Added rate limiter
- Added middleware against XSS
- Using Gorm database package to prevent SQL injections.
- HMAC is on the way.
- Talked with client authors for better data (password) transportation between client and server.

I am keeping this issue open to complete the list.

[2020-04-22 02:42] patyogesh commented on #30
@yakuter I want to give this a shot. I will need to create a brew formula for this though, which needs git repository to host the formula. Would you be able to create a repository `passwall-brew` in this project?

[2020-04-22 06:34] yakuter commented on #30
Great news. I created one now. Thank you.

https://github.com/pass-wall/passwall-brew

[2020-04-22 06:44] yakuter commented on #40
I added one now. Closing the issue

[2020-04-22 06:44] #40 closed

[2020-04-22 06:50] murat commented on #29
Yep, I know the import/export endpoints but I meant directly import from another PM.

[2020-04-22 10:02] yakuter opened #48 "Video needed to explain import"
Can someone capture a video which explains the import feature?

[2020-04-22 17:32] omerbasoglu-co opened #49 "need to update postman for add content type header"
curl request's don't contain content type header , it did not work on my first attempts

**current version**
[code]
**working version with curl**

[code]

[2020-04-23 22:13] yakuter commented on #30
Hi @patyogesh how is it going on the issue? Do you need anything I can provide?

[2020-04-24 02:38] oktaysenkan opened #58 "404 error on successfully backup process"
Returning 404 status code on successfully backup process.

<img width="656" alt="Screen Shot 2020-04-24 at 5 32 08 AM" src="https://user-images.githubusercontent.com/42527467/80169172-6e26c780-85ed-11ea-9c32-98b178922e65.png">
<img width="657" alt="Screen Shot 2020-04-24 at 5 32 18 AM" src="https://user-images.githubusercontent.com/42527467/80169176-741ca880-85ed-11ea-9646-cce205848171.png">

[2020-04-24 08:35] yakuter commented on #41
Now we have check-password endpoint.

[2020-04-24 08:35] #41 closed

[2020-04-24 08:40] #58 closed

[2020-04-24 23:20] yakuter opened #61 "Backup folder path should be declared in config"
For now, the backup path is ./store/passwall.bak. However this is hard coded in project. This declaration should be moved to config file and in default env variables.

[2020-04-25 00:29] omerbasoglu-co opened #63 "move to github project"
if @yakuter  have any time , could you move github project to manage issue

[2020-04-25 09:34] yakuter commented on #61
Done! Thank you @omerbasoglu-co

[2020-04-25 09:34] #61 closed

[2020-04-25 10:09] yakuter opened #66 "Secret key should be generated dynamically"
The JWT secret key is same in all new installations. It is set both in code and config-sample.yml files. The problem is this secret key must be unique and generated dynamically. The way to do that is generate config.yml file dynamically.

When program starts before reading and setting config, we must check if config file is exist.
If it is not we must create one.
We already have our default values

[2020-04-25 23:49] yakuter opened #69 "More enhanced backup system"
We took step 1 for basic backup. Now we should take step 2.

Well in this step;
1. The time cycle (24 hours, 1 week, etc.) should be on config file under backup section.
2. Backup files should contain datetime as @omerbasoglu-co said before.
3. There should be a limit for backup files. Let's say 7 which means a week for 24 time cycle. After 7 backupfiles generated in backup folder, the oldest one

[2020-04-26 00:12] yakuter opened #70 "Response struct shouldn't be in login package"
We have endpoints and using a return struct login.LoginResponse. However, we will have more models in the future like Categories and shouldn't use login's response struct. Also this response isn't about login package, it is about whole project's behaviour.

We should change LoginResponse name to a generic name (maybe just Response) and move it outside and higher of login package.

Do anyone want t

[2020-04-26 22:13] yakuter opened #75 "Move from Gin framework to native net/http"
Gin is really limiting us. We are moving to native net/http and mux router. We are going to use these tools:

net/http
mux router
jwt-go with HMAC signing (https://github.com/dgrijalva/jwt-go)
Negroni for middlewares

I started working on this. 1 or 2 day later it will be finished.

[2020-04-27 02:04] patyogesh commented on #30
@yakuter I have formula ready. Unable to push a PR though. Can you add me as a collaborator?

[2020-04-27 02:22] patyogesh commented on #30
One issue I noticed while writing the formula is where to keep the `store/config.yml` file when passwall-server is installed using brew. In the current formula I am copying the default config file to `#{HOMEBREW_PREFIX}/Cellar/passwall-server/#{version}/`. Any thoughts?

[2020-04-27 04:15] yakuter commented on #30
Hello @patyogesh. We need to connect not just config.yml but also store folder to #{HOMEBREW_PREFIX}/Cellar/passwall-server/#{version}/. Because we also have password.db for who uses SQL Lite and backup files passwall.bak. The folder you pointed is OK I think.

[2020-04-27 04:58] patyogesh commented on #30
submitted [this](https://github.com/pass-wall/passwall-brew/pull/1) pull request.

[2020-04-27 21:02] yakuter opened #77 "Check csv files's extension and contenttype for security"
We have an import function. However we don't check the uploaded file. This is the most vulnerable point we have. We can check the file extension and content type. Do you have any idea for hardening?

Do anyone can work on this?

[2020-04-28 07:21] yakuter opened #79 "JWT auth sign in endpoint is needed"
Well, I removed all the gin framework codes from codebase in **nongin** branch. Now we need to add JWT authentication.

The stack I want to use:
net/http
mux router
negroni middleware
jwt-go (https://github.com/dgrijalva/jwt-go)

In this issue we need 3 endpoints;
/auth/signin
/auth/refresh
/auth/logout

HS256 signin method jwt-go must be used. There is example here:
https://godoc.org/github.com/d

[2020-04-28 20:15] yakuter commented on #77
Done! Thank you @omerbasoglu-co

[2020-04-28 20:15] #77 closed

[2020-04-28 20:16] yakuter commented on #69
Done!

[2020-04-28 20:16] #69 closed

[2020-04-28 20:16] yakuter commented on #66
Done! Thank you @omerbasoglu-co

[2020-04-28 20:16] #66 closed

[2020-04-29 04:54] omerbasoglu-co commented on #79
I have been working on the issue, you can see progress [my branch ](https://github.com/omerbasoglu-co/passwall-server/tree/jwt-auth-sign). I will continue it on tomorrow. fyi @yakuter

- redesigned main.go (router and negroni)
- deleted unused code

[2020-04-29 08:46] yakuter commented on #79
Thank you @omerbasoglu-co

[2020-04-29 20:07] musabgultekin commented on #75
Where does it limits? Gin is known of being flexible. This conversion could cause much more trouble than it brings. Because  mux router and net/http is low level and there will be many things to write like reinventing the wheel on things.

[2020-04-29 21:05] yakuter commented on #75
Well, gin has lots of features but we use only a little of them. So it is not necessary at all. I already converted all the functions. Everything is working just fine. When finish JWT I will announce the refactored version.

[2020-04-30 21:54] #79 closed

[2020-04-30 21:55] yakuter commented on #75
Done and merged!

[2020-04-30 21:55] #75 closed

[2020-04-30 21:55] yakuter commented on #70
Done with refactor

[2020-04-30 21:55] #70 closed

[2020-04-30 21:56] yakuter commented on #35
Done! Now all the json responses are identical and snake_case

[2020-04-30 21:56] #35 closed

[2020-04-30 21:58] yakuter commented on #29
This issue is about backup and I am closing it. The another subject about direct importing which @murat said is true. We need something like this. I am going to open anoter issue for this.

[2020-04-30 21:58] #29 closed

[2020-04-30 21:59] yakuter opened #83 "Store JWT tokens in db and add extra check from db"
We need to store JWT to be able to disable stolen JWT tokens.

[2020-04-30 22:05] yakuter opened #84 "Different characters on request logs"
When I look at request logs on comman line, I see something like these:
`(0x48950a0,0xc000518ab0)`
Can somenone fix this issue?
![Screen Shot 2020-05-01 at 00 44 02](https://user-images.githubusercontent.com/3696314/80763458-38cb2e00-8b47-11ea-9048-f07fdb4f4c85.png)

[2020-04-30 22:06] yakuter opened #85 "Move all routers from main.go to /api/router.go"
main.go is so big in size for now. We need to move all the router directives to /api/router.go

[2020-04-30 22:08] yakuter opened #86 "Why there is always 2 requests in logs"
When I look at logs, even I do one GET request with postman, logs shows that there is 2 requests. I don't know if it is normal with negroni but we better look for this.
![Screen Shot 2020-05-01 at 00 36 36](https://user-images.githubusercontent.com/3696314/80763894-31f0eb00-8b48-11ea-996e-1e9c8c8c9aa0.png)

[2020-04-30 22:12] yakuter opened #87 "Restore backup fix"
Now we have a strong backup system with rotation and timestamp based filenames. However we didn't update our restore system. I think there should be 2 steps on restore.
1. We need an endpoint to show backed up filenames. It means in frontend user will have a chance to select backup file.
2. We need an endpoint to restore with the filename which comes with json body.

[2020-04-30 22:50] yakuter opened #88 "Need direct import mechanism from other password managers"
Our backup system is complicated for end user. We need a simple import mechanism from other companies. User should only chose the source. Of course our job is to provide the suitable endpoint only at passwall server. Something like this:
![Screen Shot 2020-05-01 at 01 49 32](https://user-images.githubusercontent.com/3696314/80766461-299bae80-8b4e-11ea-814e-311e04c27070.png)

[2020-04-30 23:46] #85 closed

[2020-05-01 20:27] ramazan commented on #86
I'm not sure but according to negroni's documentation, the logger middleware logs request and response. maybe thats why there are two logs

https://github.com/urfave/negroni#logger

[2020-05-01 20:47] #86 closed

[2020-05-01 20:50] yakuter commented on #87
Thanks to @firstthumb it is done

[2020-05-01 20:50] #87 closed

[2020-05-01 23:50] patyogesh opened #93 "Go Report card reports few linter errors"
https://goreportcard.com/report/github.com/pass-wall/passwall-server

I have a fix for this. Need collaborator permission to submit a pull request.

[2020-05-02 22:08] yakuter commented on #93
Hello @patyogesh that should be great.

[2020-05-03 16:54] patyogesh commented on #93
@yakuter Unable to push my local branch.
[code]

[2020-05-04 08:45] selcukgural opened #97 "Server / Demo Web page"
Merhaba,

Demo için kullanılan web sayfasına ulaşılamıyor. (404)

![Capture](https://user-images.githubusercontent.com/5683149/80949447-b8cdee00-8dfc-11ea-9860-dbfaeacb2c62.PNG)

[2020-05-04 11:06] safakkizkin commented on #97
Merhaba @selcukgural,

Burası sadece API sorgularına cevap döndürmek için açık durumda arayüz desteği yoktur.

README içerisinde verilen API Dökümanı ile demo web sayfasına istek yaparak test edebilirsin :v:

[2020-05-04 11:59] yakuter commented on #97
Web arayüzüne şuradan ulaşabilirsin:

https://passwall-web.herokuapp.com/

[2020-05-04 12:17] selcukgural commented on #97
Ohh kaçırmışım, teşekkür ederim 😀

[2020-05-04 14:51] #97 closed

[2020-05-08 15:25] patyogesh commented on #93
@yakuter can you add me as a collaborator?

[2020-05-11 07:29] #84 closed

[2020-05-27 11:06] mrturkmen06 commented on #93
@patyogesh, I guess, you are trying to push changes directly into main repository, you do not need to have direct access to repo, first, fork the repo and implement changes in your account, then create pull request afterwards. I hope, [this guide](https://help.github.com/en/enterprise/2.16/user/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork) can aid you to c

[2020-05-27 12:25] mrturkmen06 commented on #39
Hi @yakuter,

I have just looked at for the file `main_test.go` under this project, however, seems it does not exist. Am i missing something or is this issue  outdated ?

Apart from that, it would be nice to have a chat space (such as gitter ) where anyone who would like to contribute to project might ask questions before hand and it can lead more collaborative working environment. I think, it can

[2020-05-27 13:58] yakuter commented on #93
Thank you Ahmet. I think this is the problem.

[2020-05-27 20:54] mrturkmen06 commented on #49
I think, it is related to version of `curl` tool, the given information on Postman API doc works nicely for `curl` version `7.64.1`. However, there is no harm to include `--header` to `curl` command :)
Just wanted to comment.

<img width="1321" alt="Screenshot 2020-05-27 at 23 44 58" src="https://user-images.githubusercontent.com/13614433/83070748-95e9cf00-a074-11ea-9a99-8708c53d27c2.png">

[2020-05-28 14:19] ionutale commented on #14
hmmm, do we now also save credit cards?

[2020-05-29 10:54] mrturkmen06 opened #104 "integration of goreleaser into ci process"
It would be nice to integrate [Goreleaser](https://goreleaser.com/) process into CI/CD step to have automated release action with tagged commit.

__Proposal__
- With integration of (Github actions) (could be ? or Travis CI does not matter very much ) + Goreleaser, the process of releasing new version would be much convenient.

- Having Goreleaser in pocket means that uploading necessary binary to

[2020-05-29 11:29] mrturkmen06 opened #105 "propose pre-generated issues template"
It could be a best practice to use auto generated issues template for creating issues as described over [here](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository)

Of course, it does not mean that it is preventing from opening   blank issue however, when the templates are available, then everyone can easily understand the bug or proposed f

[2020-05-29 12:00] yakuter commented on #105
Well I thought about the issue but couldn't find time to add. I saw templates for both bugs and issues. This should be fine. Do you want to work on it?

[2020-05-29 12:02] mrturkmen06 commented on #105
Yeah, sure.

[2020-05-29 13:05] #105 closed

[2020-05-29 13:10] yakuter commented on #104
I have a question related to releases? We have multiple clients working with this backend API. how can we sync their relases with backend? Of cource backend will be the base and they will try to catch up with API.

I think the best way is, on frontend clients release page, we should write "this release works with backend API's xx version".

Is there another way to do this?

By the way I will study

[2020-05-29 14:42] mrturkmen06 commented on #104
@yakuter. Just to be on the same page,  `how can we sync their releases with backend?` If I understood it correctly, this means that having auto-update functionality in all clients. I think, it varies from client to client, I do not know whether it is implemented or not but simple check for versioning in all clients would be creating an API endpoint in server side which returns only version of the

[2020-05-29 14:57] TheYkk opened #107 "Docker build tags"
Passwal docker image should build with specific built tag example `passwall/passwall-server:1.1.0` for Backward Compatibility

[2020-05-29 15:04] TheYkk opened #108 "Docker image size"
Compiled `password-server` doesn't need `alpine` image to run

To fix this we can remove `alpine` image and replace with `scratch` image
[code]

[2020-05-29 16:04] yakuter commented on #107
@TheYkk this is an important point. However I need an automation to create docker image with releases. There is a subject here  #104 . Can you help on creating docker image at releases?

[2020-05-29 16:06] yakuter commented on #108
@TheYkk but our docker image first compiles passwall-server. So do we need 2 docker images or can we fix this in one image?

[2020-05-29 16:21] TheYkk commented on #107
Docker hub has this feature
![image](https://user-images.githubusercontent.com/21688838/83281966-93f14e80-a1e1-11ea-93f4-e69519e33e11.png)

[2020-05-30 09:28] #108 closed

[2020-05-30 10:20] TheYkk opened #110 "Postman documenter"
I can't import postman requests. Can we create a swagger file to use any request program?

[2020-05-30 22:34] #83 closed

[2020-05-30 22:34] yakuter commented on #63
We opened it now.

[2020-05-30 22:34] #63 closed

[2020-05-30 22:42] yakuter opened #111 "go-password package implementation"
**Is your feature request related to a problem? Please describe.**
Our random password generator is not good enough.

**Describe the solution you'd like**
There is a good repo [here](https://github.com/sethvargo/go-password). We need its implementation. It is really an easy and quick job to do. We just need to update Password() in /app/encryption.go with someting like this:

[code]

Default config

[2020-05-30 22:51] mrturkmen06 commented on #111
@yakuter
👋🏻 I can easily take over it.

[2020-05-30 22:52] yakuter commented on #110
Is there a way to make postman API docs downloadable? Or we can write swagger and continue developing there?

[2020-05-30 22:54] yakuter commented on #111
Thank you. I assigned you now.

[2020-05-30 22:58] mrturkmen06 commented on #107
Just to mention, [Goreleaser](https://goreleaser.com/customization/docker/) is able to handle both release and docker image at the same time. Of course, docker hub is also capable of handling it as well.

[2020-05-30 23:11] TheYkk commented on #110
We can export requests as a file, not documents. And https://www.apimatic.io / we can translate swagger using this tool

[2020-05-31 00:09] omerbasoglu-co commented on #49
@mrturkmen06 thanks for comment!

[2020-05-31 15:23] yakuter commented on #111
This is done with #112

[2020-05-31 15:23] #111 closed

[2020-05-31 15:29] yakuter opened #113 "Ping/HealthCheck endpoint needed."
**Is your feature request related to a problem? Please describe.**
We don't know if the server is running. We need a public (excluded from auth) endpoint to check server status. Then we can use uptimerobot and check the server status regularly.

**Describe the solution you'd like**

We need an endpoint which only returns 200 with a GET method. It should be /ping, /health or /health-check. We can s

[2020-05-31 15:37] yakuter commented on #110
After we generate swagger API, do we have a chance to serve it in publıc? Is free account of swagger hub is enough for this job? Or we can directly implement api doc to golang codes with [go-swagger](https://github.com/go-swagger/go-swagger) or [swag](https://github.com/swaggo/swag)ç However I prefer a service independent from codes. Which one do you suggest?

[2020-05-31 15:41] TheYkk commented on #110
I think swagger hub free is good enough for passwall-server
![image](https://user-images.githubusercontent.com/21688838/83356317-17d84180-a36e-11ea-8071-774be76d3979.png)

Or we can deploy own swagger UI with this https://github.com/swagger-api/swagger-ui to https://passwall.io/

[2020-05-31 15:42] mrturkmen06 commented on #113
I can take it 👋🏻
Would it be sufficient to return something like this ; (assumes that mysql service is used, postgres not used )

[code]

[2020-05-31 16:16] mrturkmen06 commented on #113
This (https://github.com/AppsFlyer/go-sundheit) can be used or can be implemented natively it depends how many services will be included in the future. Of course, there might be  a drawback of using external library every time (-it may blow up the binary which is generated at the end.-).

[2020-05-31 18:50] yakuter commented on #113
We can remove "status" lines. Just status_code and error is fine. Also I think we don't need external lib for this job. Can I assign you with this?

[2020-05-31 18:51] mrturkmen06 commented on #113
Yeah, I think so as well. As I mentioned importing libraries can blow up binary, no need to import it.

[2020-05-31 22:13] yakuter commented on #113
No not urgent. Anytime is fine.

[2020-06-01 20:44] mrturkmen06 opened #114 "some ideas and questions"
**Is your feature request related to a problem? Please describe.**

It is NOT a feature but could be nice to do, first of all, I am not very deep into project, which means that if I am suggesting something which is not valid or wrong, please let me know and forgive me.  I have following  concerns on overall repo, it may valid or not valid. (depends person to person) However, just wanted to share.

[2020-06-01 22:06] mrturkmen06 opened #116 "increase code coverage by adding unit tests"
**Is your feature request related to a problem? Please describe.**

Not feature but requirement, it is clear that coverage level of the repo could be improved by increasing number of unit tests. It can provide more flexibility and easy debugging from code base without requirement of running server from scratch.

**Describe the solution you'd like**

- Add more tests where possible

**Describe alte

[2020-06-02 07:38] furkanbegen commented on #114
There is a nice article about package layout: https://medium.com/@benbjohnson/standard-package-layout-7cdbc8391fc1

As my understanding, main.go shouldn't be in the root folder other than small projects and  cmd package doesn't has to be CLI related.

[2020-06-03 19:24] yakuter commented on #114
Sorry for late response.

1. ./cmd/project-name/main.go is best practice and commone usage for go community. So I chose this way and don't want to change it.

2. We don't need _api suffix as you suggested. We can work on it to change.

3. You are right about it. We can remove that line.

@mrturkmen06 are you available to do these 2 and 3?

[2020-06-03 19:28] yakuter commented on #116
Yes, we definitely need test which can be small for simple function or big for an endpoint behaviour. Either way, we need tests.

How do we proceed on this subject, where should we start? Do you have suggestions @mrturkmen06 ?

[2020-06-03 19:36] mrturkmen06 commented on #116
I think, the good starting point could be AUTH and API because those are the crucial components for the project, afterwards database testing, in my opinion.

[2020-06-03 19:38] mrturkmen06 commented on #114
yeah sure. However, it may create conflicts. (minor conflicts)

[2020-06-03 19:48] yakuter commented on #114
If you don't change package name, then I don't think there should be conflicts. At least I hope so :)

[2020-06-03 19:49] mrturkmen06 commented on #114
seems it does.

[2020-06-03 20:14] #114 closed

[2020-06-03 20:38] yakuter commented on #116
No problem, this is not a one time job. I will also write test when I find time. Auth and API's are good points to start. Let's keep this issue open to remember every time.

[2020-06-03 20:40] #113 closed

[2020-06-03 20:45] yakuter opened #118 "Remove MySQL and SQLite, just support Postgresql idea?"
**Is your feature request related to a problem? Please describe.**
Main issue here is I want to make this backend multi-tenant. The best way to make this is use Postgresql Schemas. This is why I especially want to use Postgresql. Also;

SQLite uses CGO enabled to build which is not suggested.
MySQL's schema logic is normally database logic and I don't think create new database for every users is a

[2020-06-03 20:46] yakuter commented on #118
@mrturkmen06 @omerbasoglu-co I wonder your comments?

[2020-06-03 21:29] mrturkmen06 commented on #118
I think, there is no harm to use only Postgresql, so I agree, but it also depends why mysql and sqlite required and implemented in the project in past, if the response of this question is something which is  overdue or not valid anymore, yeah, it could be better to stick with postgres.

By the way, I could not notice goroutines within the project, maybe refactoring some functions or portion of cod

[2020-06-03 21:36] mrturkmen06 commented on #39
I think, this is overdue.

@yakuter

[2020-06-03 21:47] yakuter commented on #39
Yeah

[2020-06-03 21:47] #39 closed

[2020-06-03 21:52] #118 closed

[2020-06-03 22:09] yakuter commented on #118
Well, there must be only one goroutine at auto backup. If it is needed of course we must use however I didn't have a chance to think about it clearly.

By the way I removed SQLite and MySQL support. We never needed them in the begining. Also I updated test workflow and health check database information. The workflow is great, thank you again :)

[2020-06-03 22:39] yakuter commented on #110
APIMETIC is a great tool. I created a profile there. After some tests I will publish.

[2020-06-03 22:44] yakuter opened #120 "i18 Localization feature"
**Is your feature request related to a problem? Please describe.**
We must think about multi language issue in the begining.

**Describe the solution you'd like**
There should be localization files and endpoints to serve these variables to frontend.

I think I will work on this.

[2020-06-03 22:49] yakuter opened #121 "Auth username and password should be "email" and "master_password""
**Is your feature request related to a problem? Please describe.**
Our auth credential keys are not good for best practice in password manager ecosystem.

**Describe the solution you'd like**
In password manager ecosystem, it is always called master_password, not password. Because this master_password is also used not only for authentication but also for encrypting passwords.

Besides we are not g

[2020-06-04 06:44] #120 closed

[2020-06-04 17:39] #121 closed

[2020-06-04 18:00] yakuter opened #122 "Backup, Restore, Import and Export should be updated"
**Describe the bug**
Backup, Restore, Import and Export features were designed for only Logins but now we have extra types like bank accounts. So they should be commented for now.

[2020-06-04 18:00] #122 closed

[2020-06-04 18:39] yakuter opened #123 "Add user API for multi tenant usage"
**Is your feature request related to a problem? Please describe.**
I think the best way to create this backend is a multi tenant system. So first we need user resource endpoints.

[2020-06-05 23:16] #123 closed

[2020-06-06 18:26] yakuter opened #124 "SMTP Email configuration and functions needed"
**Is your feature request related to a problem? Please describe.**
The backend should send emails to admins or users in spesific situations. But for now we don't have any configuration or function to send emails

**Describe the solution you'd like**
For the begining we need SMTP configuration to send emails. Also we need easy to use email helper function to send email all over the backend.

Does a

[2020-06-06 18:28] yakuter opened #125 "Email verification feature needed"
This issue is related with  #124

**Is your feature request related to a problem? Please describe.**
Now we have multi user system. However we don't have any activation process for users.

**Describe the solution you'd like**
When users signup, system should send activation email to user. And when user click on activation link, system should activate user.

[2020-06-19 10:14] mrturkmen06 opened #127 "delete wrong workflow"
Unfortunately latest pull request merge introduced a file which should not be in master branch of this repository.

Please delete from master.

https://github.com/pass-wall/passwall-server/blob/master/.github/workflows/sync.yml

It is used for keeping forks updated.

@yakuter

[2020-06-19 12:23] yakuter commented on #127
Done!

[2020-06-19 12:23] #127 closed

[2020-06-19 18:15] mrturkmen06 commented on #104
Any update ? @yakuter

[2020-06-21 08:47] mrturkmencom opened #128 "add more topic tags"
I have seen that repositories under pass-wall organization has no or few topic tags in repository description. It can have negative effects for users who need such a tool but finding difficulties to find it out.

Examples;

- [Passwall Extension](https://github.com/pass-wall/passwall-extension)

<img width="1045" alt="Screenshot 2020-06-21 at 11 42 09" src="https://user-images.githubusercontent.co

[2020-06-21 10:45] yusufpapurcu opened #129 "Docker run error"
**Describe the bug**
I'm trying this
`docker pull passwall/passwall-server`

`cp ./store/config-sample.yml ./store/config.yml`

`docker run --name passwall-server --rm -v $(pwd)/store:/app/store -p 3625:3625 passwall/passwall-server`

and getting
`standard_init_linux.go:211: exec user process caused "no such file or directory"`

 - OS: Arch linux
 - Version: 5.6.16-1-MANJARO
- Docker Version: 9.03

[2020-06-21 11:45] mrturkmen06 commented on #129
I have proposed the change, now it should not complain about that issue @yusufpapurcu . Could you test it and confirm that it is working ?

[2020-06-21 11:50] mrturkmen06 commented on #129
Btw, another alternative solution could be re-introduce alpine base image in Dockerfile [here](https://github.com/pass-wall/passwall-server/blob/aaf8d068ea7ce387b48f3d10dfdfc0a21f343940/Dockerfile#L17)

[2020-06-21 12:59] yusufpapurcu commented on #129
Yes it's working now. Thanks.

[2020-06-21 12:59] #129 closed

[2020-06-26 11:52] mrturkmencom commented on #104
:\

[2020-06-26 19:03] yakuter commented on #104
Sorry for late answer. I worked a bit on goreleaser. It is great :) Now version v1.1.1 is released with it. What else can we do with it?

Well we also have another issue I noticed workin on this issue. We have a serious dependency on config.yml file. Because of it, we can't say that works just with a binary. How can we get rid of that file? By the way passwall already supports env variables.

[2020-06-26 20:09] yakuter commented on #104
Forget config file issue, I fixed it with a3c7d40a97862fd9125371ed5796a341b4474d55 :)

[2020-06-27 09:52] mrturkmencom commented on #104
- Automated homebrew integration could be done through gorelaser (https://goreleaser.com/customization/homebrew/)
- Can do docker image related stuff (https://goreleaser.com/customization/docker/)
- You can actually integrate goreleaser into github actions workflow. (https://goreleaser.com/ci/actions/)

I could not understand very well the issue related to config file from the explanation :( sorry

[2020-06-27 10:00] yakuter commented on #104
Hello, I created passwall slack group but couldn't announce it well. Here is the invite link.

https://join.slack.com/t/passwall/shared_invite/zt-ff2u6wj9-MhNpEbyG86irjFs9NygqUA

I will think about goreleaser issues. Thank you so much @mrturkmencom

[2020-06-27 10:05] mrturkmencom commented on #104
Thanks a lot !

[2020-07-02 20:07] yakuter opened #131 "Better Encryption Handling"
**Is your feature request related to a problem? Please describe.**
Some fields in objects stored encrypted and some of them not. We need a good way to handle it.

**Describe the solution you'd like**
We can use struct tags. For example we can say encryption:true/false in models. As an example:

[code]

Then in DTO conversion functions in models, we can use reflect and convert fields which says enc

[2020-07-02 20:09] recep commented on #131
I can do this issue.

[2020-07-02 20:10] yakuter commented on #131
Great, I assigned you now.

[2020-07-16 12:44] yusufpapurcu commented on #124
I do a little function for this and working fine.

Function :
https://gist.github.com/yusufpapurcu/d846d48eb72be2397f0c32124f2fb19c

Example Usage :
https://gist.github.com/yusufpapurcu/6cd5ff66c8699e0db6697e822c156fa1

[2020-07-16 14:18] yakuter commented on #124
I will check it out, thank you @yusufpapurcu

[2020-07-16 14:34] shiipou opened #133 "Organisation shared password"
**Is your feature request related to a problem? Please describe.**
I'm bored to share my password to all people that need it. If I've a password to connect to a shared server account for company, It need to be accessed to the same password entry by multiple user.

**Describe the solution you'd like**
I want to share a password with a group of people, registred on the same instance, and updated to

[2020-07-17 14:47] yusufpapurcu commented on #125
I can do this issue.

[2020-07-18 22:08] yakuter commented on #125
Hello @yusufpapurcu, thank you a lot. I am assigning you now. However can you wait just a little? I am addin a generic configuration and function to send emails. Then you can send activation email.

By the way, how will you do this activation? I think we should talk beforehand just to be clear about the issue.

[2020-07-18 22:15] yusufpapurcu commented on #125
I think we can store "Not Activated Accounts" into a array. And mark all data's with random string's. Like map[string]*models.User And user must go to .../activation/(random string) for activate his account. I tried this way. Worked but mail services don't render body because likely spam 😅. I think if sender and sended link will be ssl this not a problem.

[2020-07-18 23:34] yakuter commented on #125
Well I just changed the title. I meant email verification when I say user activation :)

1. We need some database changes. We need to add **confirmation_code** (random md5 hash) and **email_verified_at** (datetime or NULL) fields to user table.

2. We need to add a new endpoint at /internal/api/auth.go like:
[code]

3. router.go line should be like this:
[code]

4. We should add SendEmail to signu

[2020-07-18 23:42] yakuter commented on #124
@yusufpapurcu thank you for your examples. Now I added email configuration to **config** and **SendMail** function to here:

https://github.com/passwall/passwall-server/blob/master/internal/app/send_email.go

Now we can send email from anywhere just like this:

`app.SendMail([]string{"erhan@passwall.io","hello@passwall.io",}, subject, body)`

[2020-07-18 23:42] #124 closed

[2020-07-19 09:05] yusufpapurcu commented on #125
Yes it's ok. I'm starting work on this.

[2020-07-19 12:15] yakuter commented on #125
Great. Assigned you now @yusufpapurcu

[2020-07-19 14:50] yusufpapurcu commented on #125
Finished. Waiting for review :)

[2020-07-19 20:10] #125 closed

[2020-07-19 21:10] #131 closed

[2020-07-19 21:11] yakuter commented on #128
I refactored all organization. Now we have only 2 repo and they are fine I think. Thank you @mrturkmencom

[2020-07-19 21:11] #128 closed

[2020-07-19 22:31] yakuter opened #136 "AES Encrypt/Decrypt helper functions (compatible with CryptoJS) needed"
**Is your feature request related to a problem? Please describe.**
For better security, we need to encrypt and decrypt the json data itself transmitted in rest api communication.

**Describe the solution you'd like**
[CryptoJS](https://github.com/brix/crypto-js) javascript package is used on frontend for encryption. So we need to decrypt what CryptoJS encrypts on Go (server) side.

By the way, Cry

[2020-07-19 22:38] yusufpapurcu commented on #136
I can do this issue

[2020-07-20 15:11] yusufpapurcu commented on #136
Finished waiting for review.

[2020-07-21 10:10] yakuter commented on #136
I tried it. Works fine, thank you @yusufpapurcu great job ;)

[2020-07-21 10:11] #136 closed

[2020-07-21 10:18] yakuter commented on #133
Thank you @shiipou I agree with you. This is an important problem and need.

This version of PassWall is for individuals. When we release the stable version, we will start working on team/business/organization version. I hope you will get the solution you need in that version.

[2020-08-22 17:30] orhun opened #142 "Arch Linux Packages"
Hi,
I'm an [Arch Linux](https://aur.archlinux.org) package [maintainer](https://github.com/orhun/PKGBUILDs). I'm submitting this issue to let you know that I created the following packages for the installation of [passwall-server](https://github.com/passwall/passwall-server) on Arch Linux and other distributions that support installing packages from [AUR](https://wiki.archlinux.org/index.php/Arch_

[2020-09-17 09:18] mrturkmencom opened #143 "talk proposal for github universe 2020"
I got an email regarding to quite decent event which will be held on 8 December, (online) by Github. In my opinion, it is great opportunity to send a proposal to this talk about passwall-server and make the project more noticeable. It has different categories and I think, passwall-server project can fit at least one of them. I hope, it will going to happen, I just wanted to draw an attention about

[2020-09-17 13:13] yakuter commented on #143
This is a great idea. Thank you so much @mrturkmencom I will send proposal 👍

[2020-09-24 17:41] mrturkmencom commented on #143
Since deadline expired for the talk, I am closing the issue.

[2020-09-24 17:41] #143 closed

[2020-09-24 21:22] mrturkmencom opened #144 "Hacktoberfest event"
https://dev.to/devteam/whos-looking-for-collaborators-hacktoberfest-2020-jl89

Another great opportunity for the project ! @yakuter

[2020-10-09 12:05] gungoren opened #147 "online password generator"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A random password generator like https://www.lastpass.com/password-generator

**Describe alternatives you've considered**
https://www.lastpass.com/password-generator

**Additional context**
It can be find on here https://www.lastpass.com/password-generator

[2020-10-31 07:28] mrturkmencom commented on #144
Closing due to end of Hacktoberfest.

[2020-10-31 07:28] #144 closed

[2020-10-31 20:34] furkanbegen commented on #93
Should we close this issue and create a new issue for "go lint" errors because only go lint errors remain or we continue this issue and fix remaining "go lint" issues

[2020-10-31 21:00] yakuter commented on #93
@furkanbegen you are right about this. PassWall server should pass all linter errors defined in this package:
https://github.com/golangci/golangci-lint

Can you open an issue for this? There is too much to do for this. We should work together.

[2020-10-31 21:00] #93 closed

[2020-10-31 21:02] yakuter commented on #43
Now there is end to end encryption and both client and server has so many security protections. So I am closing this repo now.

[2020-10-31 21:02] #43 closed

[2020-10-31 21:04] yakuter commented on #30
Now we user docker-compose to make server work at all environments. Closing the issue.

[2020-10-31 21:04] #30 closed

[2020-10-31 21:05] yakuter commented on #48
I added 2 videos for this:

1Password to PassWall Migration
https://www.youtube.com/watch?v=pQSU_OI54og

LastPass to PassWall Migration
https://www.youtube.com/watch?v=gjLARMzu6Y4

[2020-10-31 21:05] #48 closed

[2020-10-31 21:06] furkanbegen opened #149 "Go Lint Error"
PaswallServer should pass all linter errors defined in [golangci-lint](https://github.com/golangci/golangci-lint) package.

[2020-10-31 21:07] furkanbegen commented on #93
@yakuter opened a new issue #149

[2020-10-31 21:08] emredipi opened #150 "Unrelated email for user"
**Describe the bug**
Hello, I just signed up and I got two emails. One is for confirmation and other one is like "PassWall has new a user. ....".

**Expected behavior**
This email should have been sent to admin, not to user.

[2020-10-31 21:08] yakuter commented on #149
Thank you @furkanbegen. I assigned you and me about this. Thank you for your support.

[2020-10-31 21:13] yakuter commented on #150
Thank you @emredipi for your feedback. When I integrated sendgrid, I broke this email issue. For the fix we should change the following lines at **/internal/api/auth.go**
[code]
with this:
[code]

Can you handle this?

[2020-10-31 21:19] emredipi commented on #150
Yes, I can handle. I would like to support.

[2020-10-31 21:32] #150 closed

[2020-11-04 19:53] yakuter opened #153 "Name validation on signup"
**Describe the bug**
New subscribers can add values like < > / to name field. We must validate and only allow alphanumeric chars on auth signup at name field.

[2020-11-04 20:02] yakuter commented on #107
Now docker-compose includes build tags and it is compatible with github stable branch releases. Thank you all for feedbacks and ideas.

[2020-11-04 20:02] #107 closed

[2020-11-09 08:10] yakuter commented on #153
Fixed

[2020-11-09 08:10] #153 closed

[2020-11-09 09:51] mrturkmencom commented on #149
Super linter which is  provided by Github could be quite efficient. Since it provides variety of lint options for a lot of environments and languages such as Dockerfile, ENV, CSS, GO, PHP and more.
Just a recommendation.

[2020-11-24 22:03] #142 closed

[2020-12-06 12:46] fatihusta opened #155 "Sqlite Database Support"
**Sqlite database support for standalone use case**
I want to use passwall on my laptop without postgresql database server. Sqlite database would be very usable for this use case.
Postgresql needs too much effort for standalone use case.

[2020-12-26 11:08] yakuter commented on #155
You are right about making this easy to use but unfortunately this is not possible because this server has a multi tenant structure based on postgresql schemas. So an sqlite support means changing all the structure.

[2020-12-26 11:08] #155 closed

[2021-01-09 12:09] recep opened #165 "Email Confirmation Feature"
User should verify email before signup step. In this way, user does not to verify after registration.
User must not be able to register without verifying the email.

[2021-01-09 12:17] recep opened #166 "Multiple Signin"
If we delete the user's previous tokens when the user logs in, the user's sessions with other clients will be terminated.
https://github.com/passwall/passwall-server/blob/e1559905a0b02d325f822a1cf9402ff2e1b835c6/internal/api/auth.go#L219

[2021-01-09 14:52] recep opened #167 "Token Deletion Bug"
When the user makes a request with the old jwt token, all of the user's tokens are deleted from the database.
To see the bug:
1- Make a sign-in request
2- Copy the token in the response.
3- Check the token in the database.
4- Make a sign-in request again.
5- Try to make any request with the token you copied
6- Now you can see all the user's token have been deleted in the database.

[2021-01-11 12:18] recep commented on #167
This is my mistake sorry. No bug there. This is Token invalidation situation.

[2021-01-11 12:18] #167 closed

[2021-03-30 18:17] yusufpapurcu commented on #149
Maybe after fixing this linter errors, linter can add into github workflow. For decreasing linter errors in coming with new pull requests.

[2021-03-30 18:59] furkanbegen commented on #149
This make sense

[2021-03-31 06:00] yakuter commented on #149
Thank you all for your comments. I used golangci-lint but want to give a chance to super linter. I will work on linter errors and then when they all finish I will add to github actions.

[2021-04-10 16:58] ikosa opened #172 "Can't run docker container"
I couldn't run a fresh installed docker container.
This is the error seen.

`could not open postgresql connection: dial tcp 127.0.0.1:5432: connect: connection refused`

[2021-04-10 22:23] r1z4x commented on #172
I did the stable installation, there is no problem. The application cannot communicate with postgresql.
Can you share the details of `docker-compose logs`?

[2021-04-12 14:31] ikosa commented on #172
Ok that's my bad.  I'm on Unraid and docker-compose not installed at default. And installing from community applications is not working.
Install docker-compose and install with it. Now it's up.

[2021-04-12 14:31] #172 closed

[2021-07-13 12:35] fatihsezgin commented on #165
Anyone works on this issue? If it's not I can be a volunteer.

[2021-07-13 13:12] recep commented on #165
Actually, this issue has already been done. You can check these endpoints:
https://github.com/passwall/passwall-server/blob/b260025a263543e611a1a2dc5cd8cf47b49733d6/internal/router/router.go#L113
https://github.com/passwall/passwall-server/blob/b260025a263543e611a1a2dc5cd8cf47b49733d6/internal/router/router.go#L114

[2021-07-13 13:28] yakuter commented on #165
This is my mistake not to close the issue @fatihsezgin. Sorry :/

[2021-07-13 13:28] #165 closed

[2021-07-25 08:59] kahramanumut opened #177 "DB Connection Sslmode error"
I've tried to use with Heroku Postgresql service, but i occurred SSL Mode errors. Actually i don't know Golang, but i took a look at the codes and researched in stackoverflow, i realized problem in database.go DbConn Function. I changed sslmode from **disable** to **require** and it works.

I think, if sslmode would be parametric with config it would be better, such as port, dbname etc.

Kind rega

[2021-08-19 06:05] gozeloglu commented on #147
Hi @gungoren. I'd like to add this feature if it is not still added to project.

[2021-09-24 11:47] shara-turic opened #180 "Create Passwall CLI"
I think passwall should have their cli app for more options for users

like

1. Passwall Desktop
2. Passwall Extension
3. Passwall CLI

and what about using **[GraphQL](https://graphql.org)** as dataloader, graphql is powerful & easy

I hope you will make it 🙏

[2021-09-24 13:12] shara-turic commented on #180
and what abount using **[GraphQL](https://graphql.org)** as dataloader, graphql is powerful & easy

[2021-09-29 07:10] yakuter commented on #177
Hello @kahramanumut and @yakutozcan. Thanks to you, now you anyone can change db ssl mode is easily from config.yml

[2021-09-29 07:10] #177 closed

[2021-09-30 21:13] yakuter commented on #166
Fixed with v1.2.0 version

https://github.com/passwall/passwall-server/releases/tag/1.2.0

[2021-09-30 21:13] #166 closed

[2021-09-30 21:13] yakuter commented on #44
This is not on the roadmap for now.

[2021-09-30 21:13] #44 closed

[2021-10-08 11:22] yakuter opened #184 "Nginx and SSL Certificate support via Docker-Compose"
Passwall Server has support for on-premise installation with Docker. To do this we have a docker-compose.yml file which has 2 services: **passwall-server** and **postgres**. However we need to add **Nginx** for reverse proxy. Also We need to easly generate SSL certificate with Let's Encrypt or user can add his/her own certificate via volumes.

I found this article which can give some ideas about t

[2021-10-08 11:34] yakuter commented on #184
Great thank you @TheYkk

[2021-10-18 10:39] alkanlab opened #187 "Docker Container not starting"
**Describe the bug**
Hi,

I got an issue while starting Passwall server. I have actual docker-compose file, I added two service in it for Passwall Server and Postgres. Postgres is working healty but Passwall Server is looping on restarting.

**You can find the error logs from the container:**
[code]

**Docker-Compose File**
[code]
**OS Verison**
[code]
**Docker Verison**
[code]
If you need any fur

[2021-10-19 17:59] alkanlab commented on #187
Now it is working. Thanks for helping. Is there any public roadmap which we can see coming features on the next releases ?

[2021-10-19 19:01] #187 closed, assigned to nobody

[2021-10-19 19:24] yakuter opened #188 "Export feature needed."
We need an export endpoint that serves a zip file containing the exported .csv files of all passwall records (logins, notes, emails etc.). After this task is finished, from passwall desktop user will be able to export all the passwords from passwall.

@recep do you want to work on this?

[2021-10-20 11:28] TheYkk commented on #184
#189

[2021-10-21 06:09] #184 closed

[2021-10-23 18:59] #188 closed, assigned to recep

[2021-11-18 13:23] shara-turic commented on #180
I'll close this issue because there is no response

[2021-11-18 13:23] #180 closed

[2021-11-22 09:37] apiote commented on #180
Hi,
shameless plug but I'm adapting my cli which I initially wrote to support Nextcloud. I need a cli because I don't use neither FF not Chrome at home and there's no release of Passwall Desktop for musl and building doesn't work (probably because neither node-lts, nor node-stable is a compatible version—I don't know node—and nvm doesn't work with musl).

https://git.apiote.xyz/next-eeze.git is co

[2022-01-06 10:03] denizzengin opened #192 "Graceful Shutdown Implementation"
**Is your feature request related to a problem? Please describe.**
Is there any graceful shutdown implementation ? I think this feature has been thought before but  if there any explanation I want to hear that why it wasn't chosen.

**Describe the solution you'd like**
There are some common implementations. First option is listen os signals and cancel properly our process.

[2022-01-07 22:01] sadikkuzu opened #193 "Suggestions to CONTRIBUTING-TR.md"
**Is your feature request related to a problem? Please describe.**

Update git remote address and update broken link.

**Describe the solution you'd like**

Change upstream git remote address in CONTRIBUTING-TR.md
`hoodiehq` -> `passwall`
as [done in CONTRIBUTING.md](https://github.com/passwall/passwall-server/commit/1205825dc98d4f0e57bd2270be5ad4cf8e7d76f3#diff-eca12c0a30e25b4b46522ebf89465a03ba7

[2022-01-07 22:04] yakuter commented on #193
Thank you @sadikkuzu nice catch. Would you like to do it and send PR or I can handle it?

[2022-01-07 22:06] sadikkuzu commented on #193
My pleasure @yakuter 🙏🏼

Sure, I can send a PR.

[2022-01-07 22:08] yakuter commented on #193
Great thank you.👍

[2022-01-07 22:22] #193 closed

[2022-02-17 07:13] #192 closed